* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0  3rem;
}

.refresh {
  margin: 1rem 2rem 1rem 1rem;
  width: 18px;
  height: auto;
}
#image{
  margin: auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dog-imag {
  box-shadow: 2px 2px 12px rgba(182, 182, 182, 0.533);
  border-radius: 8px;
  width: 30%;
  object-fit: cover;
  height: 40vh;
  margin: 1rem  1.5%;
}


/* Media Quiery */
@media screen and (max-width:900px){
  .dog-imag{
    width:45%;
  }
}
@media screen and (max-width:600px){
  .dog-imag{
    width:90%;
  }
}